@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  width:100%;

}
  .header{
    width:100%;
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    height: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }
  .header .logo{
    margin-left: 25px;
    margin-top:10px;
  }
  .header a{
    display:none;
  }
  .header a.icon{
    float:right;
    margin-right: 30px;
    margin-top:-25px;
    display: block;
    color:#141B26;
  }

  .nav.responsive{
    position: relative;
    background-color: #141B26;
    height:300px;
  }
  .nav.responsive a.icon{
    float: none;
    display: block;
    text-align: left;
    position: relative;
    float: right;
    color:#141B26;
    margin-top: -220px;
    margin-right: -5px;

  }
  .nav.responsive a{
    float: none;
    display: block;
    text-align: left;
    text-decoration: none;
    position: relative;
    left:-10px;
    right:0;
    color:white;
    top:30px;
    padding-left: 30px;
    padding: 10px 20px;

  }
.staimg{
  z-index:-1;
}

  .staimg #desk{
    display:none;
  }
  .staimg #mob{
    position: absolute;
    top:100px;
    right:0;
    left:30px;
    display:inline;
    width:80%;
    z-index: -1;
  }
  .staimg .stuff{
    position: absolute;
    top:380px;
    width:320px;
    margin-left: 30px;

  }
  .staimg .stuff #build{
    display: inline;
    position: absolute;
    color: #141B26;
    top:-70px;
    font-family: Roboto;
    font-size: 30px;

  }
  .staimg .stuff #sto{
    display: inline;
    position: relative;
    color: #141B26;
    top:30px;
    font-family: Roboto;
    font-size: 15px;

  }
  .staimg .stuff button{
  position: absolute;
  width: 100px;
  height: 33px;
  font-size: 15px;
  top: 90px;
  background-color: #141B26;
  border-radius: 10px;
  cursor:pointer;
  left: 0;
  color:white;
}
  footer{
    position: absolute;
    bottom:0px;
    width:100%;
    left:0px;
    right:0px;

  }
  footer p{
margin-left: 110px;
  }



@media screen and (min-width: 1000px){
.header{
  width:100%;
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  background: #FFFFFF;
  height:67px;
}
.header .nav .icon {
  display: none;
}
.header .logo {
  display: block;
  margin-top:14px;
  margin-left: 100px;
}
.header a {
  display: inline;
  text-decoration: none;
  color: #141b26;
  padding-right: 25px;
  font-family: Roboto;
  margin-top:10px;
}
.header .nav{
  float:right;
  margin-right: 100px;
  margin-top: -40px;
  font-family: Roboto;
}
.header .nav .button{
text-align: center;
height: 37px;
font-family: Roboto;
cursor:pointer;
display: inline-block;

}
.staimg{
  display: block;
  position: absolute;
  width:100%;
  left:0px;
  right:0px;
  top:0;
}
.staimg #mob{
  display: none;
}
.staimg #desk {
  display: inline;
  width:100%;
  position: absolute;
  top:57px;
  left:0px;
  right:0px;
}
.staimg .stuff{
margin-left: 50%;
width:30%;
}
.staimg .stuff #build{
position: absolute;
font-family: Roboto;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 3em;
top:-200px;
color: #FFFFFF;
width:500px;
}
.staimg .stuff #sto{
  width:500px;
position: absolute;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
top:-50px;
color: #FFFFFF;
}
.staimg .stuff button{
position: absolute;
width: 150px;
height: 50px;
font-size: 20px;
top: 20px;
background: #FFFFFF;
border-radius: 10px;
cursor:pointer;
color:#141B26;
}
footer{
  position: absolute;
  bottom:-140px;
  width:100%;
  left:0px;
  right:0px;

}
footer p{
margin-left:600px;
}
}
